@charset "UTF-8";
/* Name: Michael Robins
   Date: 4/22/2022 */


body, p, h2, ul>li { 
	background-color: #F5F5F5;
	background-color: transparent;
    color: #3F2860;
    font-family: Verdana, Arial, sans-serif;

}
body{
	background-image: url(../images/yogamobile.png)
}



header>h1
{
	background-color: #9BC1C2;
	background-position: right;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 20pt;
	
}

.classes_img
{
	float: right;
	display: none;
}
li .bullet
{
	display: block;
	
	
}

.main_ul
{
	margin-left: 3em;
	list-style-type: none;
	list-style-image: url(../images/yogabullet.png);
}

main img
{
	display: none;
}
nav ul
{
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}
h1 { 
	text-indent: 1em;
    line-height: 400%; 
}

nav { 
     font-weight: bold; 
}

footer { 
	background-color: #9BC1C2; 
    font-size: small;
	text-align: center;
	font-style: italic;
	padding: .5em;
	margin-bottom: .5em;
}

/* Table Style *************/


tr>td
{
	border: 1px solid black;
	text-align: center;
}
.schedule
{
	border-collapse: collapse;
	border: 1px solid black;
	width: 100%;
	margin-bottom: .5em;
}
/** Media Queries **/
/** tablet breakpoint **/
@media only screen and (min-width: 641px){
	nav>ul{
		display: inline-flex;
		
		
	}
	body{
		background-color: #F5F5F5;
	}
	header>h1
	{
		background-image: url(../images/lilyheader.jpg);

	}
	main img
	{
		display: list-item;
	}
	.classes_img
	{
		display: list-item;
	}
	

	
	

	
	
	
}



